.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #adf0b6;
    color: #7B3F00;
    padding: 1rem;
    height: 4vw;
}

.logo {
    font-size: 1.5rem;
    margin-left: 2.5rem;
}
.logo img{
    height: 4rem;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right: 11.5rem;
}

.navbar-links li {
    margin: 0 3rem;
    border: solid transparent 1px;
}

.navbar-links li a {
    text-decoration: none;
    color: #7B3F00;
    padding: 1rem;
    padding-bottom: 1.2rem;
    }



.navbar-links li a:hover {
    color: #fff;
    border-radius: 5rem;
    background-color: green;
    transition: 0.5s
}

.login{
    list-style-type: none;  
    text-decoration: none;
}

.login a{
    text-decoration: none;
}

