.adoption p:nth-child(1){
    color: #7B3F00;
    margin-top: 1vw;
}

.adoption p:nth-child(2){
    background-color: rgb(248, 240, 240);
    padding-bottom: 1vw;
    color: #7B3F00;
}

.adoption{
    overflow: auto;
}

body{
        background-color: rgb(248, 240, 240);
}

.cards{
    width: 100%;
    background-color: rgb(248, 240, 240);
    width: 90vw;
    left: 2vw;
    position: absolute;
    transform: translate(02.7%, 0%);
}

.cards-container{
    align-items: center;
    display: flex;
    height: 25vw;
    margin: 0 auto;
    max-width: 60vw;
    background-color: rgb(248, 240, 240);}

.card-item{
    height: 15vw;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
    width: 20vw;
}

.card-item-1{
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.card-item-2, .card-item-4{
    height: 44vh;
    opacity: 0.8;
    width: 26vw;
    z-index: 1;
}

.card-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.card-item-3 {
    height: 53vh;
    opacity: 1;
    width: 33vw;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
}

.card-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.card-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.cards-controls{
    display: flex;
    justify-content: space-between;
    margin: 0px 0;
    height: 6vh;
}

.cards-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 4rem;
    text-transform: capitalize;
}

.cards-controls-button:focus{
    outline: none;
}


.cards-controls-previous::before{
    border: solid #aaa5a5;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top:39%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.cards-controls-next::before{
    border: solid #aaa5a5;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;
    height: 5px;
    right: -30px;
    padding: 10px;
    position: absolute;
    top: 45% ;
    transform: rotate(-45deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
 }

.cards-controls-next:hover::before {
    right: -40px;
}

.cards-controls-previous:hover::before {
    left: -40px;
}

.cards-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

.cards nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.cards-nav li.card-item-selected{
    background: #555;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;    
}

.expanded {
  width: 120%;
  height: 120%;
  top: 0vw; 
  background-color: rgba(0, 0, 0, 0.9); 
  object-fit: cover; 

}

.pets-description{
    height: 4vw;
    width: 82vw;
    justify-content: center;
    border: transparent;
    border-radius: 4rem; 
    color: #7B3F00;
    padding: 0;
}

.pets-description p {
    background-color: antiquewhite;
}

.pets-description span {
    font-style: bold;
}

.formVisit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formVisit div div{
    display: flex;
    justify-content: space-between;
    margin: 1vw;
}

.formVisit div div input{
    margin-left: 1vw;
    width: 27vw;
}

.formVisit div div select {
    margin-left: 1vw;
    width: 27.6vw;
}

.buttonSubmit{
    width: 20vw;
}

.visitButton {
    transform: translate(-3.9%, 27%);
}

.pets-info {
    display: flex;
    position: absolute;
    margin-top: 2.5vw;
    width: 72vw;
    height: 10vh;
    transform: translate(12%, -100%);
    border-radius: 2rem;
    background-color: rgb(238, 199, 126);
}

.mini-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin-top: 2vw;
    transform: translate(30.4%, 20%);
}

.mini-cards p {
    background-color: #e9d6d6;
    transform: translate(-20%, -10%);
    border-radius: 2rem;
    width: 60vw;
}

.mini-cards span {
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px) {
    .adoption {
         height: 80vh;
        overflow-x: hidden;
        z-index: 0;
        overflow: hidden;
    }
    .card-item-1 {
        left: 15%;
        opacity: .4;
        transform: translateX(-50%);
    }

    .card-item-2,
    .card-item-4 {
        height: 44vh;
        opacity: 0.8;
        width: 26vw;
        opacity: 0;
    }

    .card-item-2 {
        opacity: 0;
    }

    .card-item-3 {
        height: 43vh;
        opacity: 1;
        width: 95vw;
        left: 50%;
        z-index: 0;
        transform: translate(-50%, 35%);
        box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    }

    .card-item-4 {
        opacity: 0;
    }

    .card-item-5 {
        opacity: 0;
    }

    .pets-info {
        display: flex;
        flex-direction: column;
        width: 96vw;
        height: 25vh;
        border-radius: 1rem;
        transform: translate(-3%, 98%);
        background-color: rgb(238, 199, 126);
    }

    .pets-info div button {
        width: 60vw !important;
        transform: translateY(-8%);
    }

    .pets-description  {
        width: 100%;
        height: 40vw;
        transform: translateY(12%);
    }

    .cards-controls {
        width: 0%;
    }

    .mini-cards  {
        width: 90vw;

    }

    .mini-cards p {
        width: 100vw;
                transform: translate(-30%, 505%);
    }

}
