.container-content {
    min-height: 100vh;
}

.adoption p:nth-child(1){
    color: #7B3F00;
    margin-top: 1vw;
}

.adoption p:nth-child(2){
    background-color: rgb(248, 240, 240);
    padding-bottom: 1vw;
    color: #7B3F00;
}

.adoption .pets-home h3{
    padding-top: 0vw;
    background-color: rgb(238, 199, 126);
}
.adoption .pets-home h2 {
    color: #7B3F00;
}

.adoption .pets-home p {
    margin-bottom: 2vh;
}

.adoption{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
        background-color: rgb(248, 240, 240);
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;    
}

.expanded {
  width: 120%;
  height: 120%;
  top: 0vw; 
  background-color: rgba(0, 0, 0, 0.9); 
  object-fit: cover; 

}

.pets-description{
    height: 4vw;
    width: 82vw;
    border: transparent;
    border-radius: 4rem; 
    color: #7B3F00;
    padding: 0 2vw;
}

.pets-description p {
    background-color: antiquewhite;
}

.pets-description span {
    font-style: bold;
}

.formVisit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formVisit div div{
    display: flex;
    justify-content: space-between;
    margin: 1vw;
}

.formVisit div div input{
    margin-left: 1vw;
    width: 27vw;
}

.formVisit div div select {
    margin-left: 1vw;
    width: 27.6vw;
}

.buttonSubmit{
    width: 20vw;
}

.pets-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72vw;
    height: 10vh;
    border-radius: 2rem;
    background-color: rgb(238, 199, 126);
}


.mini-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.mini-cards p {
    background-color: #e9d6d6;
    border-radius: 2rem;
    width: 100vw;
}


.mini-cards span {
    font-weight: bold;
    cursor: pointer;
}

.pets-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel{
    margin-top: 3vh;
}

.pets-info div:nth-child(2){
    padding-right: 2vh;
}

@media (max-width: 768px) {
    .adoption {
        background-color: rgb(248, 240, 240);
    }

    .adoption .pets-home {
        height: 12vh;
    }

    .adoption .pets-home h2{
        width: 80vw;    }

    .pets-info {
        display: flex;
        flex-direction: column;
        width: 96vw;
        height: 26vh;
        margin-top: 6vw;
        border-radius: 1rem;
        background-color: rgb(238, 199, 126);
    }

    .pets-info div button {
        width: 60vw !important;
        margin: 1rem;
    }

    .pets-description  {
        width: 100%;
        height: 30vw;
        padding: 1rem 3rem;
    }

    .mini-cards {
        width: 96vw;
        margin-top: 1rem;
    }

    .mini-cards p {
        background-color: #e9d6d6;
        border-radius: 1rem;
        margin-bottom: 3rem;
    }
}
