.login-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(248, 240, 240); ;
}

.login-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

.login-container h2{
    margin-top: 2vw;
    color: #7B3F00;
}

.login-form {
    width: 80%;
    max-width: 400px;
    padding: 2vw;
    margin: 4vw;
    background-color:rgb(238, 199, 126);
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-position: 0% 500%;
}

.form-group {
    margin-bottom: 2vw;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.8vw;
    color: #7B3F00;
}

.form-group input {
    width: 100%;
    padding: 10px 0 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(248, 240, 240);
}

.login-form button {
    width: 100%;
    padding: 0.7vw;
    background-color: #adf0b6;
    color: #7B3F00;;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2vw;
}

.login-form button:hover {
    background-color: #0056b3;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login{
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
}

.login a{
    text-decoration: none;
    color: #7B3F00;
}

.login p{
    font-style: none;
    background-color: #adf0b6;
    padding: 0;
}

@media (max-width: 768px) {
    .login{
        margin-top: 0;
    }

    .login p{
        background-color:#fef7e5;
    }

    .login a svg{
        display: none;
    }
}